.lines
{
  color: white;
  font-family: Times New Roman;
}

.h1
{
  text-align: center;
  font-style: italic;
  font-family: Brush Script MT;
  font-size: 30px;
  padding-top: 50px;
  padding-bottom: 132px;
  color: white;
}

.keys
{
  text-align: center;
  padding: 40px;

}

.body
{
  background-image:url(images/adrien-olichon-RCAhiGJsUUE-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.projectengineer
{
  text-align: center;
  letter-spacing: 11px;
  padding-top: 120px;
  font-family: Times New Roman;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}

.work
{
  background-image: url(images/office-865091_1280.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 55px;
}

.skills
{
  background-image: url(images/Techie%20Guy%20Running%20HD%20wallpaper.jpeg.jpg);
  background-repeat: no-repeat;
  background-attachment: center;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 265px;
  padding-bottom: 264px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.project
{
  background-image: url(images/computing.jpg);
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 195px;
  color: white;
  font-family: Times New Roman;
  font-weight: bold;
}

.about
{
    background-image: url(images/pexels-toni-cuenca-585752.jpg);
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 150px;
    padding-bottom: 250px;
    color: white;
    text-align: center;
    font-weight: bold;
}
